body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

#daily-photo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  z-index: 0;
}

#logo-hotspot {
  position: fixed;
  bottom: 6.5%;
  left: 45%;
  width: 10%;
  height: 10%;
  cursor: pointer;
  z-index: 10;
}

@media (max-width: 600px) {
  #logo-hotspot {
    bottom: 12%;
  }
} 

#heart-effect {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 4rem;
  color: red;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  transition: opacity 0.2s, transform 0.2s;
}

#heart-effect.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.5);
}
#favorite-toggle {
  position: fixed;
  bottom: 15%;       
  left: 76%;          
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  user-select: none;
  transform: none;    
}


#heart-effect {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 4rem;
  color: red;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  transition: opacity 0.2s, transform 0.2s;
}

#heart-effect.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.5);
}

